<form>
<div class="input-group" style="margin-bottom:20px">
	<input type="text" class="form-control" placeholder="Search for..." id="search-field" />
	<span class="input-group-btn">
        	<input class="btn btn-default" value="Go!" type="submit"/>
      	</span>
</div><!-- /input-group -->
</form>

<section id="search-results"></section>

