{{! Subscribe }}
<div class="widget">
        <div class="widget-title">
                <div class="widget-title-meta">
                        <i class="fa fa-tags"></i>&nbsp;
                        <span class="title-meta-word">{{t "Subscribe"}}</span>
                </div>
        </div>
        <div class="tag-cloud-content">
                <form method="post" action="/subscribe/" id="" class="gh-signin">
                    <input class="confirm" type="hidden" name="confirm"><input class="location" type="hidden" name="location" value="https://needone.app/"><input class="referrer" type="hidden" name="referrer" value="">
        
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Your email address">
                    </div>
                    <button id="" class="btn btn-success" type="submit"><span>Subscribe</span></button>
                </form>
        </div>
</div>
